{% extends 'base.html.twig' %}
{% block body %}
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <a href="{{ path('listmedicijnen') }}">terug</a><br>
    {% for recept in recept %}
        <div class="jumbotron">
            <a hidden>{{ recept.id }}</a>
            patient : {{ recept.patienten.name }} <br>
            medicijn : {{ recept.medicijn.name }} <br>
            hoeveel per keer : {{ recept.dosis }} <br>
            hoe vaak in de week : {{ recept.duur}} <br>
            begin datum : {{ recept.datum|date("m/d/Y") }}
        </div>
    {% endfor %}
{% endblock %}