{% extends 'base.html.twig' %}
{% block body %}
    <a href="{{ path('medicijnenForm') }}">add medicijn</a><br>
    <a href="{{ path('addRecept') }}">add recept</a><br>
    <a href="{{ path('listRecept') }}">show recepten</a><br>
    <a href="{{ path('listPatienten') }}">show patienten</a>
    {% for medicijn in medicijnen %}
        <div class="jumbotron">
        <a hidden>{{ medicijn.id }}</a>
        name : {{ medicijn.name }} <br>
        sideEffect : {{ medicijn.sideEffect }} <br>
        benefits : {{ medicijn.benefits}} <br>
        vergoed : {% if medicijn.compensated == 1%} ja {% else %} nee {% endif %} <br>
        <a href="{{ path('deleteMedicijnen', {'id':medicijn.id}) }}">delete</a>
        <a href="{{ path('updateMedicijnen', {'id':medicijn.id}) }}">update</a>
        </div>
    {% endfor %}
{% endblock %}
